<h2 mat-dialog-title>Vincular Mesas</h2>
<mat-dialog-content>
  <mat-selection-list #tableList>
    <mat-list-option *ngFor="let table of availableTables" [value]="table.id">
      {{ table.name }}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="primary" 
    [disabled]="tableList.selectedOptions.selected.length === 0" 
    (click)="linkSelectedTables(tableList.selectedOptions.selected)">
    Vincular
  </button>
</mat-dialog-actions>