.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .quantity-input {
    width: 80px; /* Ajusta el ancho según tu diseño */
    margin-left: 16px;
  }