<h2 mat-dialog-title>Detalle de la Orden</h2>
<mat-dialog-content>
 <!-- Encabezado -->
 <div class="header-row">
  <span>Producto</span>
  <span>Unit</span>
  <span>Subtotal</span>
</div>

<!-- Lista de items -->
<mat-list>
  <mat-list-item *ngFor="let order of table.orders">
    <div class="data-row">
      <span>{{ order.name }} (x{{ order.quantity || 1 }})</span>
      <span>{{ order.price | currency }}</span>
      <span>{{ (order.price * (order.quantity || 1)) | currency }}</span>
    </div>
  </mat-list-item>
</mat-list>

  <p class="total-amount">
    <strong>Total:</strong> {{ total | currency }}
  </p>

  <!-- Panel de descuento -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aplicar Descuento
        </mat-panel-title>
     
      </mat-expansion-panel-header>
      <div>
        <button mat-button color="primary" (click)="applyDiscount(0)">0%</button>
        <button mat-button color="primary" (click)="applyDiscount(5)">5%</button>
        <button mat-button color="primary" (click)="applyDiscount(10)">10%</button>
        <button mat-button color="primary" (click)="applyDiscount(15)">15%</button>
        <button mat-button color="primary" (click)="applyDiscount(20)">20%</button>
        <button mat-button color="primary" (click)="applyDiscount(25)">25%</button>
        <button mat-button color="primary" (click)="applyDiscount(30)">30%</button>
        <button mat-button color="primary" (click)="applyDiscount(35)">35%</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <p class="total-amount">
    <strong>Total con Descuento:</strong> {{ discountedTotal | currency }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button (click)="printTicket()">Imprimir</button>
  <button mat-button color="warn" (click)="liberarMesa()">Liberar Mesa</button>
</mat-dialog-actions>