/* Eliminar padding del contenedor del dialog de Material */
::ng-deep .custom-dialog-container .mat-mdc-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

::ng-deep .custom-dialog-container .mat-mdc-dialog-surface {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 1rem !important;
  box-shadow: none !important;
}

::ng-deep .custom-dialog-container .mdc-dialog__surface {
  padding: 0 !important;
}

::ng-deep .custom-dialog-container {
  padding: 0 !important;
}
