<mat-dialog-content>
  <form (ngSubmit)="submit()">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" type="submit" (click)="submit()">Ingresar</button>
</mat-dialog-actions>
