<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div
      *ngFor="let table of tables"
      class="card shadow-lg rounded-3 p-4 d-flex flex-column justify-between"
    >
      <div class="card-body">
        <h5 class="card-title mb-2">Mesa: {{ table.name }}</h5>
        
        <!-- Mozo asignado -->
        <p  class="text-info" *ngIf="waiters">
          Gestionada por: <strong>{{ table.waiterName }}</strong>
        </p>

        <p
          class="card-text"
          [ngClass]="{ 'text-success': table.available, 'text-danger': !table.available }"
        >
          {{ table.available ? 'Disponible' : 'Ocupada' }}
        </p>

      </div>

      <div class="card-footer d-flex justify-content-between">
        <button
          class="btn btn-primary"
          (click)="addMenuItems(table)"
        >
          ➕ Agregar Ítems
        </button>

        <button
          class="btn btn-secondary"
          (click)="openTableInfoDialog(table)"
        >
          ➕ Ver Ítems
        </button>
      </div>
    </div>
  </div>
</div>