.card.bg-success {
  background-color: #28a745; /* Verde para disponible */
}

.card.bg-danger {
  background-color: #dc3545; /* Rojo para ocupada */
}

.card-text.text-success {
  color: #28a745; /* Verde para el texto de disponible */
}

.card-text.text-danger {
  color: #dc3545; /* Rojo para el texto de ocupada */
}