.available-card {
  background-color: #70dd56; /* Verde claro */
  border: 1px solid #66bb6a; /* Verde medio */

  .mat-mdc-raised-button:not(:disabled) {
    background-color: #3eb442 !important;
  }
}

.occupied-card {
  background-color: #f3705b; /* Rojo claro */
  border: 1px solid #ef5350; /* Rojo medio */

  .mat-mdc-raised-button:not(:disabled) {
    background-color: #b64e3d !important;
  }
}

mat-card {
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave */
}

