<mat-drawer-container class="example-container" autosize>
  
  <!-- Sidebar (solo visible si está autenticado) -->
  <mat-drawer #sidenav class="example-sidenav d-flex flex-column" mode="side" *ngIf="isLoggedIn">
    <p>Bienvenido</p>
    <button mat-button routerLink="/home">Inicio</button>
    <button mat-button routerLink="/home">Planta baja</button>
    <button mat-button routerLink="/home">Planta alta</button>
    
    <!-- ✅ Botón Administrar solo para Admin -->
    <button mat-button routerLink="/admin" *ngIf="(role$ | async) === 'admin'">
      Administrar
    </button>
  
    <button mat-flat-button color="warn" *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</button>
  </mat-drawer>

  <mat-drawer-content>

    <div>
      <mat-toolbar class="custom-toolbar d-flex justify-content-between align-items-center">
      
        <!-- Contenido a la izquierda -->
        <div class="cont-1 d-flex align-items-center gap-2">
          <!-- Botón de menú (solo visible si está autenticado) -->
          <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isLoggedIn">
            <mat-icon>menu</mat-icon>
          </button> 
        
          <span>Nuovo Caffe</span>
        
          <img
            class="rounded-circle"
            style="width: 50px; height: 50px;"
            mat-card-image
            src="./assets/nuovo-cafe.jpg"
            alt="table"
          />
        </div>
      
        <!-- Contenido a la derecha -->
        <div class="cont-2 d-flex align-items-center" style="gap: 0.5rem;">
          <mat-icon fontIcon="schedule" *ngIf="isLoggedIn"></mat-icon> {{ shift }}
        </div>
      
      </mat-toolbar>
    </div>

    <!-- Aquí siempre cargan las rutas -->
    <router-outlet></router-outlet>

  </mat-drawer-content>

</mat-drawer-container>