<h2 class="mb-4 text-center">Asignar Mozo</h2>

<div class="mb-3">
  <label for="waiterSelect" class="form-label">Seleccionar Mozo</label>
  <select id="waiterSelect" class="form-select form-select-lg shadow-sm" [(ngModel)]="selectedWaiterId">
    <option value="" disabled selected>Seleccione un mozo...</option>
    <option *ngFor="let waiter of waiters" [value]="waiter._id">
      {{ waiter.name }}
    </option>
  </select>
</div>

<div class="d-flex justify-content-between mt-4">
  <button class="btn btn-outline-danger btn-lg" (click)="onCancel()">Cancelar</button>
  <button class="btn btn-success btn-lg" (click)="onConfirm()">Asignar</button>
</div>