
<div class="container mt-4">
  <h2 class="text-center mb-4"><img
    class="rounded-circle"
    style="width: 50px; height: 50px;"
    mat-card-image
    src="./assets/nuovo-cafe.jpg"
    alt="table"
  /> Estadísticas de nuovo caffé</h2>

  <!-- Tarjeta para el gráfico de ingresos por mesa -->
  <div class="card shadow-lg p-4 mb-4">
    <h4 class="text-center">💰 Mesas con más ingresos</h4>
    <canvas id="tableRevenueChart"></canvas>
  </div>

  <!-- Tarjeta para el gráfico de mozos con más mesas atendidas -->
  <div class="card shadow-lg p-4 mb-4">
    <h4 class="text-center">🧑‍🍳 Mozos con más mesas atendidas</h4>
    <canvas id="waiterChart"></canvas>
  </div>

  <!-- Tarjeta para el gráfico de ventas por día de la semana -->
  <div class="card shadow-lg p-4 mb-4">
    <h4 class="text-center">📅 Días con más ventas</h4>
    <canvas id="salesByDayChart"></canvas>
  </div>

</div>

