<div class="container mt-4">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <mat-card
          class="example-card h-100"
          [ngClass]="{ 'mesa-disponible': table.available, 'mesa-ocupada': !table.available }"
        >
          <mat-card-header>
            <mat-card-title>{{ table.name }}</mat-card-title>
            <mat-card-subtitle>{{ table.available ? 'Disponible' : 'Ocupada' }}</mat-card-subtitle>
          </mat-card-header>
  
          <img style="width: 300px; height: 400px;" src="../../../assets/table.png" alt="mesa" />
  
          <mat-card-content>
            <p>Órdenes de esta mesa:</p>
            <mat-list>
              <mat-list-item *ngFor="let order of table.orders">
                {{ order.name }} - {{ order.price | currency }}
                <button
                  mat-icon-button
                  color="warn"
                  (click)="table.orders.splice(table.orders.indexOf(order), 1)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
  
          <mat-card-actions>
            <button mat-button (click)="openMenuDialog()">Administrar Menú</button>
            <button
              mat-button
              color="primary"
              *ngIf="table.orders.length > 0"
              (click)="openTotalDialog()"
            >
              Ver Total
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>